
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">


<main>
    <div id="blogPageHeaderGrp" class="" >
        <ol class="breadcrumb pull-right"></ol>
        <h1 class="page-header"></h1>
    </div>

    <div id="blogContainer" class="container" >
        <div id="blogSearchHeaderGrp" class="search-form clearfix col-xs-w100 m-b-20" >
            <form class="form-inline"  onsubmit="return false;">

                <div class="input-group col-wms-search-group3">
                    <!--						<span class="input-group-addon col-xs-w25 spanclass" data-domain-id="PDA_USE_YN"></span>
                                            <select id="blogPdaUseYN" class="form-control" >
                                                <option value=""></option>
                                            </select>-->
                </div>

                <!-- 중복되는 부분 -->
                <div class="form-group col-xs-w100 m-b-5">
                    <div class="input-group pull-right">
                        <button type="button" id="blogSearchBtn" type="button"  class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-search"></i><!--<i data-domain-id="SEARCH_BTN" >--> 조회</i>
                        </button>
                        <button type="button" id="blogAddBtn" data-authRule="AUTH_NEW"  class="btn btn-sm btn-info m-r-5">
                            <i class="fa fa-plus"></i> <!--<i data-domain-id="MENU_ADD_BTN" >-->추가</i>
                        </button>
                        <button type="button" id="blogUpdateBtn" data-authRule="AUTH_MOD" class="btn btn-sm btn-warning m-r-5">
                            <i class="fa fa-minus"></i> <!--<i data-domain-id="ROW_DEL_BTN" >-->수정</i>
                        </button>
                        <button type="button" id="blogDelBtn" data-authRule="AUTH_DEL" class="btn btn-sm btn-danger m-r-5">
                            <i class="fa fa-minus"></i> <!--<i data-domain-id="ROW_DEL_BTN" >-->삭제</i>
                        </button>
                        <button type="button" id="blogSaveBtn" data-authRule="AUTH_NEW AUTH_MOD AUTH_DEL"  class="btn btn-sm btn-success">
                            <i class="fa fa-download"></i> <!--<i data-domain-id="SAVE_BTN" >-->저장</i>
                        </button>
<!--                        <button type="button" id="blogImgBtn" data-authRule="AUTH_NEW AUTH_MOD AUTH_DEL"  class="btn btn-sm btn-success">
                            <i class="fa fa-download"></i> &lt;!&ndash;<i data-domain-id="SAVE_BTN" >&ndash;&gt;이미지변환</i>
                        </button>-->
                    </div>
                </div>
            </form>
        </div>

        <div id="blogHGridGrp" class="col-xs-w100  m-b-20">
            <div>
                <table id="blogGrid"></table>
                <div id="blogGridNavi"></div>
            </div>
        </div>

        <div id="blogSearchDetailGrp" class="search-form clearfix col-xs-w100" >
            <form class="form-inline"  onsubmit="return false;">
                <div class="input-group col-wms-search-group3">
                    <!--						<span class="input-group-addon col-xs-w25 spanclass" data-domain-id="PDA_USE_YN"></span>
                                            <select id="blogPdaUseYN" class="form-control" >
                                                <option value=""></option>
                                            </select>-->
                </div>

                <!-- 중복되는 부분 -->
                <div class="form-group col-xs-w100 m-b-20">
                    <div class="input-group">

                        <input class="form-control" type="text" list="blogCategoryAList" id="blogCategoryA" readonly >
                        <datalist id="blogCategoryAList">
                        </datalist>
                        <span class="input-group-text"> - </span>
                        <input class="form-control" type="text" list="blogCategoryBList" id="blogCategoryB" readonly>
                        <datalist id="blogCategoryBList">
                        </datalist>
                        <span class="input-group-text"> - </span>
                        <input class="form-control" type="text" list="blogCategoryCList" id="blogCategoryC" readonly>
                        <datalist id="blogCategoryCList">
                        </datalist>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text"> 제목 </span>
                        <input type="text" id="blogTitle" placeholder="Title" autocomplete="off" class="form-control"
                               value=""/>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text"> URL </span>
                        <input type="text" id="blogUrl" placeholder="Url" autocomplete="off" class="form-control"
                               value=""/>
                    </div>



                </div>


            </form>
        </div>
    </div>



    <div id="blogViewMarkdown" class="container col-xs-w100" >

    </div>
    <div id="blogUpdateMarkdown" class="container  col-xs-w100">

    </div>

    <div class="container  col-xs-w100">
        <div id="blogRe">


        </div>
    </div>

</main>

<!-- Toast Editor 2.0.0 -->
<script src="/js/core/toastui-editor-all.min.js"></script>

<script>
const editor = new toastui.Editor({
    el: document.querySelector('#blogUpdateMarkdown'),
    initialEditType: "wysiwyg",
    height: '500px',
});
const viewer = toastui.Editor.factory({
    el: document.querySelector('#blogViewMarkdown'),
    initialEditType: "wysiwyg",
    viewer: true,
    height: '500px',
});

</script>

<!--<script src="/js/core/simplemde.min.js"></script>-->
<script src="/js/app/blog/blog.js"></script>