{{>header}}
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">-->

<div class="container-fluid">
    <button type="button" id="blogSearchBtn" type="button"  class="btn btn-sm btn-primary m-r-5">
        <i class="fa fa-search"></i><!--<i data-domain-id="SEARCH_BTN" >--> 조회</i>
    </button>
    <button type="button" id="blogAddBtn"  class="btn btn-sm btn-info m-r-5">
        <i class="fa fa-plus"></i> <!--<i data-domain-id="MENU_ADD_BTN" >-->글 추가</i>
    </button>



    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
            <th scope="row">{{idx}}</th>
            <td ><a href="#" id="idx_{{idx}}">{{title}}</a></td>
            </tr>
        {{/list}}

        </tbody>
    </table>

    <form>
        <div class="row mb-3">
            <label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
            <div class="col-sm-10">
                <input type="hidden" class="form-control" id="blogIdx" value="{{detail.idx}}" readonly>
                <input type="text" class="form-control" id="blogTitle" value="{{detail.title}}" readonly>
                <input type="hidden" class="form-control" id="blogContentHidden" value="{{detail.markdownContent}}" readonly>
            </div>
        </div>
    </form>


        <div id="blogViewMarkdown" class="container col-xs-w100" >

        </div>
        <div id="blogUpdateMarkdown" class="container  col-xs-w100" style="display:none;">

        </div>
        <button type="button" id="blogUpdateBtn" onClick="getContentUpdate()" class="btn btn-sm btn-warning m-r-5" style="display:none">
            <i class="fa fa-minus"></i>수정하기</i>
        </button>
        <button type="button" id="blogDelBtn"  class="btn btn-sm btn-danger m-r-5" style="display:none;">
            <i class="fa fa-minus"></i>글삭제</i>
        </button>
        <button type="button" id="blogSaveBtn" onClick="save()"  class="btn btn-sm btn-success" style="display:none;">
            <i class="fa fa-download"></i>저장</i>
        </button>

        <div class="container  col-xs-w100">
            <div id="blogRe">


            </div>
        </div>

</div>


<!--<script src="/js/core/simplemde.min.js"></script>-->
{{>footerJs}}

<script src="/js/core/toastui-editor-all.min.js"></script>

<script >
const editor = new toastui.Editor({
    el: document.querySelector('#blogUpdateMarkdown'),
    initialEditType: "wysiwyg",
    height: '500px',
});
const viewer = toastui.Editor.factory({
    el: document.querySelector('#blogViewMarkdown'),
    initialEditType: "wysiwyg",
    viewer: true,
    height: '500px'
});

viewer.setMarkdown($('#blogContentHidden').val());




</script>

<script src="/js/app/blog/blogs.js"></script>
{{>footer}}