<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> <!--CDN 링크 -->
<link href="/css/custom-response.css" rel="stylesheet">

<head>

    <style>

        a, p {
            font : 0.6em;
            margin:0px;
        }
        .table-center{
            vertical-align:middle;
            text-align:center;
        }
    </style>

</head>

<!--<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="padding-top:30px;">-->
    <div class="container-sm">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">KIM SEON HO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">INTRODUCE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#project">PROJECT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#award">AWARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#stack">STACK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#education">EDUCATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#document">DOCUMENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#salary">SALARY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">CONTACT</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h3 id="project"><strong>PROJECT</strong></h3>
        <p>항상 책임감을 가지고, 프로젝트 완료를 위해 달려갑니다.</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">프로젝트</th>
                <th scope="col">소개</th>
                <th scope="col">기간</th>
                <th scope="col">관련자료</th>
            </tr>
            </thead>
<!--            <span class="badge bg-primary">Primary</span> 파
            <span class="badge bg-secondary">Secondary</span>회
            <span class="badge bg-success">Success</span>초
            <span class="badge bg-danger">Danger</span>빨
            <span class="badge bg-warning text-dark">Warning</span>노
            <span class="badge bg-info text-dark">Info</span>하늘
            <span class="badge bg-light text-dark">Light</span>하양
            <span class="badge bg-dark">Dark</span>블랙-->

            <tbody>
            <tr>
                <th class="table-center" scope="row">깨끗한나라 WCS 개발</th>
                <td>
                    <p><strong>[엔디에스] <small>WCS - 창고제어시스템, 종이관련 원지의 창고관리를 위한 하드웨어와의 제어인터페이스 및 관리시스템 개발</small></strong></p>
                    <p><small>#깨끗한나라 #WCS #JPA #AWS #SPRING #청주</small></p>
                    <span class="badge bg-primary">진행중</span>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">JPA</span>
                    <span class="badge bg-secondary">AWS</span>
                    <span class="badge bg-secondary">MSSQL</span>
                    <span class="badge bg-secondary">EXBUILDER6</span>
                </td>
                <td class="table-center">
                    <p>2021.01~진행중</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">3SFORYOU 정산시스템 개발</th>
                <td>
                    <p><strong>[엔디에스] <small>ERP - 정산시스템, 길찾기 API를 이용한 매니저별 방문매장 거리&유류비 산출, 월정산 개발</small></strong></p>
                    <p><small>#3SFORYOU #ERP #정산 #NAVERAPI #보라매역</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">NAVER API</span>
                    <span class="badge bg-secondary">WEBSQUARE</span>
                </td>
                <td class="table-center">
                    <p>2020.11~2020.12</p>
                    <p><small>백엔드/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">팀 솔루션 TMS 개발</th>
                <td>
                    <p><strong>[엔디에스] <small>TMS - 배차시스템, 입출고상품에 대한 고정배차와 지도API를 이용한 배송추적</small></strong></p>
                    <p><small>#엔디에스 #TMS #배차 #DAUMAPI #보라매역</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">DAUM API</span>
                    <span class="badge bg-secondary">EXBUILDER6</span>
                </td>
                <td class="table-center">
                    <p>2020.08~2020.10</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">동원홈푸드 통합물류시스템 TMS 개발</th>
                <td>
                    <p><strong>[그리티스] <small>TMS - 배차시스템, 고정노선, 차량, 운전자관리 및 유동적인 반고정 배차</small></strong></p>
                    <p><small>#동원홈푸드 #TMS #배차 #TMAPAPI #시화 #최적거리/최단거리알고리즘 #PL #반고정배차 #인터페이스 #정산 #배송기사앱</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">TMAP API</span>
                    <span class="badge bg-secondary">PL/SQL</span>
                    <span class="badge bg-secondary">NEXACRO</span>
                </td>
                <td class="table-center">
                    <p>2019.08~2020.06</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">오리온 베트남 WMS 개발</th>
                <td>
                    <p><strong>[그리티스] <small>WMS - 베트남 호치만, 하노이 창고관리시스템 개발</small></strong></p>
                    <p><small>#오리온베트남 #해외출장 #호치민 #하노이</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">WEBAPP</span>
                    <span class="badge bg-secondary">PL/SQL</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2018.07~2019.05</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">한국이콜랩 WMS 개발</th>
                <td>
                    <p><strong>[그리티스] <small>WMS - 세정제, 식기세척기 관련 물류창고관리시스템</small></strong></p>
                    <p><small>#한국이콜랩 #WMS #시화 #UI개발</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2018.02~2018.05</p>
                    <p><small>클라이언트/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">롯데정보통신 MMS 개발</th>
                <td>
                    <p><strong>[보우테크] <small>MMS - POS 자산관리 및 예방정검프로그램 개발</small></strong></p>
                    <p><small>#롯데정보통신 #MMS #자산관리 #예방정검 #SI #UI개발</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">MyriaDB</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2017.11~2018.01</p>
                    <p><small>클라이언트/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">버텍스아이디 WMS 개발</th>
                <td>
                    <p><strong>[보우테크] <small>WMS - 사내 창고관리시스템 개발</small></strong></p>
                    <p><small>#버텍스아이디 #WMS #창고관리시스템 #솔루션완성 #SI #UI개발</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2017.08~2017.10</p>
                    <p><small>클라이언트/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>



        <h3 id="award"><strong>AWARD</strong></h3>
        <p>항상 책임감을 가지고, 프로젝트 완료를 위해 달려갑니다.</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">프로젝트</th>
                <th scope="col">소개</th>
                <th scope="col">기간</th>
                <th scope="col">관련자료</th>
            </tr>
            </thead>
            <!--            <span class="badge bg-primary">Primary</span> 파
                        <span class="badge bg-secondary">Secondary</span>회
                        <span class="badge bg-success">Success</span>초
                        <span class="badge bg-danger">Danger</span>빨
                        <span class="badge bg-warning text-dark">Warning</span>노
                        <span class="badge bg-info text-dark">Info</span>하늘
                        <span class="badge bg-light text-dark">Light</span>하양
                        <span class="badge bg-dark">Dark</span>블랙-->

            <tbody>
            <tr>
                <th class="table-center" scope="row">깨끗한나라 WCS 개발</th>
                <td>
                    <p><strong>[엔디에스] <small>WCS - 창고제어시스템, 종이관련 원지의 창고관리를 위한 하드웨어와의 제어인터페이스 및 관리시스템 개발</small></strong></p>
                    <p><small>#깨끗한나라 #WCS #JPA #AWS #SPRING #청주</small></p>
                    <span class="badge bg-primary">진행중</span>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">JPA</span>
                    <span class="badge bg-secondary">AWS</span>
                    <span class="badge bg-secondary">MSSQL</span>
                    <span class="badge bg-secondary">EXBUILDER6</span>
                </td>
                <td class="table-center">
                    <p>2021.01~진행중</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">3SFORYOU 정산시스템 개발</th>
                <td>
                    <p><strong>[엔디에스] <small>ERP - 정산시스템, 길찾기 API를 이용한 매니저별 방문매장 거리&유류비 산출, 월정산 개발</small></strong></p>
                    <p><small>#3SFORYOU #ERP #정산 #NAVERAPI #보라매역</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">NAVER API</span>
                    <span class="badge bg-secondary">WEBSQUARE</span>
                </td>
                <td class="table-center">
                    <p>2020.11~2020.12</p>
                    <p><small>백엔드/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">팀 솔루션 TMS 개발</th>
                <td>
                    <p><strong>[엔디에스] <small>TMS - 배차시스템, 입출고상품에 대한 고정배차와 지도API를 이용한 배송추적</small></strong></p>
                    <p><small>#엔디에스 #TMS #배차 #DAUMAPI #보라매역</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">DAUM API</span>
                    <span class="badge bg-secondary">EXBUILDER6</span>
                </td>
                <td class="table-center">
                    <p>2020.08~2020.10</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">동원홈푸드 통합물류시스템 TMS 개발</th>
                <td>
                    <p><strong>[그리티스] <small>TMS - 배차시스템, 고정노선, 차량, 운전자관리 및 유동적인 반고정 배차</small></strong></p>
                    <p><small>#동원홈푸드 #TMS #배차 #TMAPAPI #시화 #최적거리/최단거리알고리즘 #PL #반고정배차 #인터페이스 #정산 #배송기사앱</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">TMAP API</span>
                    <span class="badge bg-secondary">PL/SQL</span>
                    <span class="badge bg-secondary">NEXACRO</span>
                </td>
                <td class="table-center">
                    <p>2019.08~2020.06</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">오리온 베트남 WMS 개발</th>
                <td>
                    <p><strong>[그리티스] <small>WMS - 베트남 호치만, 하노이 창고관리시스템 개발</small></strong></p>
                    <p><small>#오리온베트남 #해외출장 #호치민 #하노이</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">WEBAPP</span>
                    <span class="badge bg-secondary">PL/SQL</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2018.07~2019.05</p>
                    <p><small>풀스택/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">한국이콜랩 WMS 개발</th>
                <td>
                    <p><strong>[그리티스] <small>WMS - 세정제, 식기세척기 관련 물류창고관리시스템</small></strong></p>
                    <p><small>#한국이콜랩 #WMS #시화 #UI개발</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2018.02~2018.05</p>
                    <p><small>클라이언트/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">롯데정보통신 MMS 개발</th>
                <td>
                    <p><strong>[보우테크] <small>MMS - POS 자산관리 및 예방정검프로그램 개발</small></strong></p>
                    <p><small>#롯데정보통신 #MMS #자산관리 #예방정검 #SI #UI개발</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">MyriaDB</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2017.11~2018.01</p>
                    <p><small>클라이언트/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">버텍스아이디 WMS 개발</th>
                <td>
                    <p><strong>[보우테크] <small>WMS - 사내 창고관리시스템 개발</small></strong></p>
                    <p><small>#버텍스아이디 #WMS #창고관리시스템 #솔루션완성 #SI #UI개발</small></p>
                    <span class="badge bg-secondary">JAVASCRIPT</span>
                    <span class="badge bg-secondary">SPRING</span>
                    <span class="badge bg-secondary">ORACLE</span>
                    <span class="badge bg-secondary">오픈소스</span>
                </td>
                <td class="table-center">
                    <p>2017.08~2017.10</p>
                    <p><small>클라이언트/솔루션</small></p>
                </td>
                <td class="table-center">
                    <!-- Button trigger modal -->

                    <i class="far fa-file-alt fa-2x" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">관련 문서</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>



        <h3 id="stack"><strong>STACK</strong></h3>
        <p>항상 꾸준히 자기계발과 기술을 습득합니다. 습득한 기술은 최대한 업무에 활용하고, 할 수 있는 영역을 넓혀 나가고자 합니다.</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">기술구분</th>
                <th scope="col">로고</th>
                <th scope="col">활용수준</th>
                <th scope="col">평가</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="table-center" scope="row">Javascript</th>
                <td class="table-center">
                    <p>아이콘</p>
                </td>
                <td>
                    <p><small>asldkfjasopfijsofjslkafjasldkfjaslkfjaslfk;djfl;</small></p>
                    <p><small>32523542345325235324523523453252345423523</small></p>
                    <p><small>ㄴㅇㄹㄴㅁㄹㄴㅇㅁㄹㄴㅁㄹㄴㅁㅇㄻㄴㅇㄹㄴㅁㅇㄻㄴㄹㄴㅁㅇㄹㄴㅁㄹ</small></p>
                </td>
                <td class="table-center">

                    <p>추워요..</p>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">Oracle</th>
                <td class="table-center">>
                    <p>아이콘</p>
                </td>
                <td>
                    <p><small>asldkfjasopfijsofjslkafjasldkfjaslkfjaslfk;djfl;</small></p>
                    <p><small>32523542345325235324523523453252345423523</small></p>
                    <p><small>ㄴㅇㄹㄴㅁㄹㄴㅇㅁㄹㄴㅁㄹㄴㅁㅇㄻㄴㅇㄹㄴㅁㅇㄻㄴㄹㄴㅁㅇㄹㄴㅁㄹ</small></p>
                </td>
                <td class="table-center">

                    <p>추워요..</p>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">Mssql</th>
                <td class="table-center">>
                    <p>아이콘</p>
                </td>
                <td>
                    <p><small>asldkfjasopfijsofjslkafjasldkfjaslkfjaslfk;djfl;</small></p>
                    <p><small>32523542345325235324523523453252345423523</small></p>
                    <p><small>ㄴㅇㄹㄴㅁㄹㄴㅇㅁㄹㄴㅁㄹㄴㅁㅇㄻㄴㅇㄹㄴㅁㅇㄻㄴㄹㄴㅁㅇㄹㄴㅁㄹ</small></p>
                </td>
                <td class="table-center">

                    <p>추워요..</p>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">MyriaDB</th>
                <td class="table-center">>
                    <p>아이콘</p>
                </td>
                <td>
                    <p><small>asldkfjasopfijsofjslkafjasldkfjaslkfjaslfk;djfl;</small></p>
                    <p><small>32523542345325235324523523453252345423523</small></p>
                    <p><small>ㄴㅇㄹㄴㅁㄹㄴㅇㅁㄹㄴㅁㄹㄴㅁㅇㄻㄴㅇㄹㄴㅁㅇㄻㄴㄹㄴㅁㅇㄹㄴㅁㄹ</small></p>
                </td>
                <td class="table-center">

                    <p>추워요..</p>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">AWS EC2/S3</th>
                <td class="table-center">>
                    <p>아이콘</p>
                </td>
                <td>
                    <p><small>asldkfjasopfijsofjslkafjasldkfjaslkfjaslfk;djfl;</small></p>
                    <p><small>32523542345325235324523523453252345423523</small></p>
                    <p><small>ㄴㅇㄹㄴㅁㄹㄴㅇㅁㄹㄴㅁㄹㄴㅁㅇㄻㄴㅇㄹㄴㅁㅇㄻㄴㄹㄴㅁㅇㄹㄴㅁㄹ</small></p>
                </td>
                <td class="table-center">

                    <p>추워요..</p>
                </td>
            </tr>
            <tr>
                <th class="table-center" scope="row">AWS Lightsail</th>
                <td class="table-center">>
                    <p>아이콘</p>
                </td>
                <td>
                    <p><small>asldkfjasopfijsofjslkafjasldkfjaslkfjaslfk;djfl;</small></p>
                    <p><small>32523542345325235324523523453252345423523</small></p>
                    <p><small>ㄴㅇㄹㄴㅁㄹㄴㅇㅁㄹㄴㅁㄹㄴㅁㅇㄻㄴㅇㄹㄴㅁㅇㄻㄴㄹㄴㅁㅇㄹㄴㅁㄹ</small></p>
                </td>
                <td class="table-center">

                    <p>추워요..</p>
                </td>
            </tr>
            </tbody>
        </table>

        <h3 id="document"><strong>DOCUMENT</strong></h3>
        <p>가장 중요한 자산은 대화 라고 생각합니다. 일상속에서, 프로젝트속에서, 개발도중에, 자기계발하면서 만나고, 남기는자료는 저의 자산이 되고 가치가 됩니다.</p>
        <p>아래에서 그동안의 노력을 보실 수 있습니다.</p>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/resume/github.png" class="d-block w-100" alt="githubFeed">
                </div>
<!--                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>-->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
<!--</main>-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>