<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comfunny.blog.blog.dto.BlogDao">

    <select id="list" resultType="java.util.HashMap" >
        SELECT
          B.idx
        , B.title
        , B.markdown_content
        , B.in_user_id
        , B.in_user_email
        FROM blog B
       WHERE B.del_yn = 'N'
     ORDER BY B.idx
    </select>

    <select id="listRe" resultType="java.util.HashMap" >
        WITH RECURSIVE CTE AS (
        SELECT
        B.ref
        , B.idx
        , B.p_ref
        , B.content
        , B.in_user_id
        , B.in_user_email
        , B.up_user_id
        , B.up_user_email
        , B.up_dt
        , 1 AS LEVEL
        , CONCAT(B.ref) AS SORT
        FROM blog_re B
        WHERE B.idx = #{idx}
        AND p_ref = '0'
        UNION ALL
        SELECT
        BB.ref
        , BB.idx
        , BB.p_ref
        , BB.content
        , BB.in_user_id
        , BB.in_user_email
        , BB.up_user_id
        , BB.up_user_email
        , BB.up_dt
        , 1 + LEVEL AS LEVEL
        , CONCAT(SORT, '  ', CONCAT(BB.ref)) AS SORT
        FROM blog_re BB
        JOIN CTE
        ON BB.p_ref = CTE.ref
        WHERE BB.idx = #{idx}
        )
        SELECT B.*
        , U.picture
        FROM CTE B
        JOIN user U
        ON B.in_user_email = U.email
        ORDER BY B.SORT

    </select>

    <select id="listReChild" resultType="java.util.HashMap" >
        SELECT
          B.ref
        , B.idx
        , B.p_ref
        , B.content
        , B.in_user_id
        , B.in_user_email
        , B.up_user_id
        , B.up_user_email
        , B.up_dt
        , U.picture
        FROM blog_re B
        JOIN user U
        ON B.in_user_email = U.email
        WHERE B.idx = #{idx}
          AND B.ref = #{ref}
        ORDER BY B.ref
    </select>

</mapper>
