<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comfunny.blog.system.menu.MenuDao">


    <select id="list" resultType="camelMap" >
        WITH recursive cte AS
        (
        SELECT  A.*, 1 AS MENU_LEV,(SELECT COUNT(*) FROM menu c WHERE c.MENU_PARENT_SEQ = A.MENU_SEQ) AS CHILD_CNT
          FROM menu A
         WHERE A.MENU_PARENT_SEQ = 0
     UNION ALL
        SELECT A.*, MENU_LEV + 1 AS MENU_LEV, 0 AS CHILD_CNT
          FROM menu A
    INNER JOIN cte C
            ON A.MENU_PARENT_SEQ = C.MENU_SEQ
        )
        SELECT * FROM cte ORDER BY cast(MENU_ORDER as unsigned)
    </select>

    <select id="systemList" resultType="camelMap" >
        WITH recursive cte AS
        (
        SELECT A.*
             , 1 AS MENU_LEV
             , (SELECT COUNT(*) FROM menu c WHERE c.MENU_PARENT_SEQ = A.MENU_SEQ) AS CHILD_CNT
          FROM menu A
         WHERE A.MENU_PARENT_SEQ = 3
     UNION ALL
        SELECT A.*, MENU_LEV + 1 AS MENU_LEV, 0 AS CHILD_CNT
          FROM menu A
    INNER JOIN cte C
            ON A.MENU_PARENT_SEQ = C.MENU_SEQ
        )
   SELECT * FROM cte
 ORDER BY cast(MENU_ORDER as unsigned)
    </select>

</mapper>
